.container {
  min-height: calc(100vh - 84px);
  &Left {
    max-width: 40%;
    background: url("~@assets/footer.png");
    background-repeat: no-repeat;
    background-size: cover;

    &Wrapper {
      padding: 10%;
    }
  }
  &Right {
    background: url("./cover-right.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.image {
  top: 0;
  height: 100%;
  z-index: -1;
  &Left {
    left: 0;
    width: 40%;
  }
  &Right {
    left: 40%;
    width: 60%;
  }
}

.logo {
  &Mini {
    max-width: 125px;
    max-height: 125px;
  }
  &Slogan {
  }
}

.button {
  max-width: 200px;
}
