@import "~@app/styles/variables";

.container {
  height: calc(100vh - #{$header-height});
  min-height: 490px;
  max-height: 800px;

  &Left {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
