@import "~@app/styles/variables";

.container {
  height: calc(100vh - #{$header-height});
  min-height: 600px;
  @media (min-width: 640px) {
    min-height: 800px;
  }

  &Left {
    background: url("~@assets/footer.png");
    background-repeat: no-repeat;
    background-size: cover;

    &Wrapper {
      & > * {
        margin-right: 10%;
        margin-left: 10%;
      }
      & > *:first-child {
        margin-top: 10%;
      }
      & > *:last-child {
        margin-bottom: 10%;
      }
    }
  }
  &Right {
    background: url("./cover-right.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    z-index: -1;
  }
}
